.flex-wrap {
	flex-wrap: wrap;
}

.flex-row-around-center {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.flex-row-end-center {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.flex-row-center-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-row-start-center {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.flex-row-start-baseline {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

.flex-row-start-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.flex-row-space-between-center {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-row-space-between-start {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.flex-column-center-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-column-space-between-flex-start {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.flex-column-start-center {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.flex-column-start-start {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.flex-column-start-baseline {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: baseline;
}

.flex-column-space-between-center {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
